<html>
<head>
<title>Parque da Cidade</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Tabela_01" width="600" height="1094" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<a href="http://salascomerciaisavenda.com.br/?utm_source=Disparo%20de%20e-mail%20mkt&utm_medium=Bases%20gafisa&utm_campaign=Disparo%20de%20email%20mkt%20-%20base%20Gafisa"><img src="http://www.salascomerciaisavenda.com.br/imagens/emkt_pdc_realiza-clientesV2_01.png" width="600" height="538" alt="Parque da Cidade"/></a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://salascomerciaisavenda.com.br/?utm_source=Disparo%20de%20e-mail%20mkt&utm_medium=Bases%20gafisa&utm_campaign=Disparo%20de%20email%20mkt%20-%20base%20Gafisa"><img src="http://www.salascomerciaisavenda.com.br/imagens/emkt_pdc_realiza-clientesV2_02.png" width="600" height="556" alt="Parque da Cidade"/></a>
		</td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>